{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}</h1>
    {% if form %}
        <div class="row">
            <div class="col-md-12">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_page %}
        <a href="{{ prev_page }}">Previous</a>
    {% endif %}
    {% if next_page %}
        <a href="{{ next_page }}">Next</a>
    {% endif %}
{% endblock %}